
@{
    ViewBag.Title = "Submit a suggestion";
}

@model FoodReview.Models.SuggestionResponse

<form asp-action="SubmitSuggestion" method="post" class="text-center">
    <div>
        <label asp-for="Name">Your Name</label>
        <input asp-for="Name" required />
    </div>

    <div>
        <label asp-for="RestaurantName">Restaurant Name</label>
        <input asp-for="RestaurantName" required />
    </div>

    <div>
        <label asp-for="FavoriteDish">Favorite Dish</label>
        <input asp-for="FavoriteDish" required />
    </div>

    <div>
        <label asp-for="RestaurantPhone">Restaurant Phone</label>
        <input asp-for="RestaurantPhone" required />
        <p>Phone Input Example: 3856668996</p>
    </div>


    <button type="submit">Submit Your Suggestion</button>
    <div asp-validation-summary="All"></div>
</form>
